<mat-toolbar color="primary"> 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> 
      <mat-icon>supervised_user_circle</mat-icon> 
    </button> 
    <span>Advertisement Details</span> 
    <span class="example-spacer"></span>     
    <button mat-raised-button color="Link" (click)="openDialog()">Add Advertisement Details</button>     &nbsp; &nbsp;
    <button mat-raised-button color="warn" (click)="logout()" >LogOut</button>
  </mat-toolbar>
  <div class="outer" style="background-image: url('assets/img/custaddetails.jpg');">
  </div>